/*
  CSS Variables
*/
:root {
  --color: brown;
  --font-family: 'Hind';

  --font-size-small: 0.85rem;
  --font-size-normal: 1rem;
  --font-size-large: 1.25rem;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --border-radius: 3px;
  --white: #ffffff;
  --highlight: rgb(138,143,250);
  --dark-border-color: #474a56;
  --light-border-color: #eaeaed;
  --focus: 0 0 0 2px rgba(138,143,250,0.35);

  --header-bg: #1b1c20;

  --filter-footer-background: #1b1c20;
  --filter-footer-shadow: #121316;

  --filter-color: #ffffff;
  --filter-bg: #ffffff;

  --label-color: #474a56;
  --input-color: #1b1c20;
  --input-bg: #dfe0e4;

  --colorbox-border-color: #dfe0e4;
}

/**
 * BASE
 */
html {
  height: 100%;
}

body {
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  justify-content: stretch;
  font-family: var(--font-family), sans-serif;
  font-size: 16px;
  line-height: 1;
  height: 100%;
  margin: 0;
}

.main {
  flex: 1 auto;
  position: relative;
  display: flex;
  justify-content: stretch;
}

h1, h2, h3, h4, h5, h6 {
  font-size: var(--font-size-large);
  margin: 0;
  line-height: 1.15;
}

p {
  line-height: 1.65;
}

/**
 * LINKS
 */
a, a:visited {
  color: var(--highlight);
  text-decoration: none;
}

a:hover {
  color: var(--highlight);
  opacity: 0.85;
  text-decoration: underline;
}

a:focus {
  box-shadow: var(--focus);
}

/**
 * BUTTONS
 */
.button {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  vertical-align: middle;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.button--transparent {
  background: transparent;
  color: var(--white);
  padding: 0;
}

/**
 * FORM FIELDS
 */
.form__fieldset {
  border: none;
  padding: 0;
  margin-bottom: 1rem;
}

.form__label {
  display: block;
  color: var(--label-color);
  padding: 0 0.25rem 0.35rem 0;
}

.form__input {
  appearance: none;
  -webkit-appearance: none;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  color: var(--input-color);
  background: var(--input-bg);
  font-size: var(--font-size-normal);
  padding: 0.5rem 1.25rem 0.55rem 0.65rem;
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 2px;
  width: 100%;
}

.form__select {
  background: var(--input-bg) url(../img/select-image.svg) center right 6px / 0.5rem no-repeat padding-box;
  margin-bottom: 1rem;
}

.form__select:focus {
  box-shadow: var(--focus);
}

.form__fieldset-across {
  display: flex;
  align-items: baseline;
}

.form__fieldset-across .form__label {
  font-size: var(--font-size-small);
  flex: 1 0 auto;
}

.form__fieldset-across .form__select {
  margin-right: 0.25rem;
}

/**
 * HEADER
 */
.header {
  position: relative;
  background: var(--header-bg);
  color: var(--filter-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.95rem 2rem;
}

.header__title {
  font-weight: var(--font-weight-normal);
}

#home {
  display: flex;
  color: #fff;
  text-decoration: none;
}

#logo {
  padding-right: 10px;
  width: 20px;
  height: 20px;
}

/**
 * NAVIGATION
 */
#js-toggle-nav {
  display: none;
}

.nav__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-left: 0;
}

.nav__link,
.nav__link:visited {
  color: var(--white);
}

.nav__list-item {
  font-size: var(--font-size-small);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
}

.nav__list-item:last-child {
  padding: 0.5rem 0 0.5rem 1rem;
}

/**
 * SIDEBAR
 */
.sidebar {
  flex: 0 0 300px;
}

.sidebar__inner {
  padding: 1.5rem 1rem 1rem;
}

.sidebar__title {
  font-weight: var(--font-weight-normal);
  margin-bottom: 1rem;
}

/**
 * FILTERS
 */
#js-toggle-filter {
  display: none;
}

#hide_filters {
  display: none;
}

#filters-footer {
  display: none;
}

/**
 * MAP
 */
.map-container {
  position: relative;
  flex: 1 auto;
  border: 4px solid var(--light-border-color);
}

.map {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.area-name {
  font-weight: bold;
  white-space: pre-wrap;
}

.year {
  font-style: italic;
}

/**
 * MAP LEGEND
 */
.legend {
  background-color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid var(--light-border-color);
  border-radius: var(--border-radius);
  box-shadow: 0px 2px 28px -2px rgba(0,0,0,0.4);
  z-index: 4;
}

.legend__header {
  display: flex;
  border-bottom: 1px solid var(--light-border-color);
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0.75rem;
}

.legend__close {
  font-size: var(--font-size-large);
  margin-left: 2rem;
  background: #eaeaed;
  padding: 0.7rem 0.3rem 0.35rem;
  border-radius: 1rem;
  line-height: 0;
  cursor: pointer;
}

.legend__title {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
}

.legend__list {
  margin-bottom: 0;
  list-style-type: none;
  padding: 0rem 1rem 1rem;
}

.legend__item {
  font-size: var(--font-size-small);
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.legend__item:last-child {
  padding-bottom: 0;
}

.color-box {
  display: inline-block;
  height: 17px;
  width: 17px;
  border: 1px solid white;
  box-shadow: 0 0 0 1px var(--colorbox-border-color);
  border-radius: 1px;
  margin-right: 0.5rem;
}

.legend__toggle-container {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  z-index: 4;
}

.legend__toggle-container img {
  width: 1.25rem;
  padding-right: 0.15rem;
  margin-bottom: -5px;
  position: relative;
}

#show_legend {
  display: none;
  box-shadow: 0px 2px 28px -2px rgba(0,0,0,0.4);
}

@media (max-width: 1024px) {
  #show_legend {
    display: block;
  }
}

/**
 * MODAL
 */
.jquery-modal.current {
  z-index: 999;
}

.modal__title {
  padding-bottom: 0.75rem;
  font-weight: var(--font-weight-normal);
  border-bottom: 1px solid var(--light-border-color);
}

.area-name {
  font-weight: bold;
  white-space: pre-wrap;
}

.question {
  font-weight: bold;
}

/**
 * MOBILE STYLES
 */

@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    align-items: center;
  }

  .header__title {
    text-align: center;
  }

  .nav {
    flex: 1 0 100%;
  }

  .nav__list {
    flex-direction: column;
    text-align: center;
  }

  .nav__list-item,
  .nav__list-item:last-child {
    padding: 0.5rem;
  }

  #js-filters {
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid var(--dark-border-color);
    border-radius: 0;
    display: none;
  }

  #filters-footer {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  #filters-label {
    font-weight: bold;
  }

  #filters-desc-container {
    display: flex;
  }

  #filters-desc-container > span {
    padding: 0 2px 0 2px;
  }

  #js-edit-filters {
    margin-left: auto;
  }

  .legend {
    top: auto;
    right: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    display: none;
    border-radius: 0;
    z-index: 5;
  }

  .legend__toggle-container {
    top: auto;
    right: auto;
    left: 0;
    bottom: 0;
    display: block;
  }

  #js-toggle-filter {
    display: block;
    margin-left: auto;
    margin-right: 1.5rem;
    height: 24px;
  }

  #filter-showing {
    display: none;
  }

  #js-toggle-filter.active #filter-showing {
    display: block;
  }

  #js-toggle-filter.active #filter-hidden {
    display: none;
  }

  #js-nav {
    display: none;
  }

  #filter-showing,
  #filter-hidden {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
  }

  #filter-showing {
    background: url(../img/filter-fill.svg);
  }

  #filter-hidden {
    background: url(../img/filter-empty.svg);
  }

  .sidebar {
    top: 0px;
    position: absolute;
    right: 0px;
    left: 0px;
    background: white;
    z-index: 999;
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.25);
  }

  #js-toggle-filter.active #filter-hidden,
  #js-toggle-filter #filter-showing {
    display: none;
  }

  #js-toggle-filter.active #filter-showing,
  #js-toggle-filter #filter-hidden {
    display: block;
  }

  #js-toggle-filter.active #nav-showing {
    display: block;
  }

  #js-toggle-filter.active #nav-hidden {
    display: none;
  }

  #js-toggle-nav {
    display: block;
    width: 25px;
    height: 25px;
  }

  #js-toggle-nav span {
    position: relative;
  }

  #js-toggle-nav span,
  #js-toggle-nav span:before,
  #js-toggle-nav span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 25px;
    background: white;
    position: absolute;
    display: block;
    content: '';
  }

  #js-toggle-nav span:before {
    top: -6px;
  }

  #js-toggle-nav span:after {
    bottom: -6px;
  }

  #js-toggle-nav span,
  #js-toggle-nav span:before,
  #js-toggle-nav span:after {
    transition: all 500ms ease-in-out;
  }

  #js-toggle-nav.active span {
    background-color: transparent;
  }

  #js-toggle-nav.active span:before,
  #js-toggle-nav.active span:after {
    top: 0;
  }

  #js-toggle-nav.active span:before {
    transform: rotate(45deg);
  }

  #js-toggle-nav.active span:after {
    transform: rotate(-45deg);
  }

  .nav {
    border-top: 1px solid var(--dark-border-color);
    margin-top: 14px;
    padding-top: 20px;
  }

  .nav__list {
    padding-left: 0;
  }

  .nav__list-item {
    font-size: var(--font-size-large);
    padding-bottom: 1rem;
  }
}

#explore-items li:not(:last-child) {
  margin-bottom: 5px;
}

#filters-desc {
  padding: 0.95rem 1rem;
  font-size: 12px;
  background: #000;
  color: #808080;
  display: none;
}

@media (max-width: 1024px) {
  #filters-desc {
    display: block;
  }
}

#filters-desc .filter-val {
  color: #fff;
}

@media (max-width: 440px) {
  .header {
    padding: 0.95rem 1rem;
  }

  .header__title {
    text-align: left;
    font-size: 16px;
  }

  #js-toggle-filter {
    height: 22px;
    margin-right: 1rem;
  }

  #filter-showing,
  #filter-hidden {
    width: 16px;
    height: 16px;
  }

  #js-toggle-nav {
    width: 20px;
    height: 20px;
  }
}
